:root {
    --main-color: #41C7FC;
    --bg-color: #1F2021;
    --header-text-color: #353235;
    --body-text-color: #A8A8A8;
    --section-padding-top-sm: 64px;
    --section-padding-top-lg: 96px; 
}

*{
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    /* background-color: var(--bg-color,black); */
    overflow-x: hidden;
}
.container {
    padding: 0px 16px;
    margin: 0 auto;
}
ul {
    list-style: none;
    padding-left: 0;
}
a {
    text-decoration: none;
}
@media only screen and (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/**Start Component  */
.section-heading{
    text-align: center;
}
.section-heading h2 {

    font-size: 32px;
    font-weight: 300;
    color: var(--header-text-color);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;
}

.section-heading h2::before {
    content: '';
    height: 1px;
    width: 100px;
    position: absolute;
    bottom: -24px;
    left: calc(50% - 50px);
    background-color: var(--header-text-color);
}

.section-heading h2::after {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    border: 1px solid var(--header-text-color);
    bottom: -30px;
    left: calc(50% - 6px);
    background-color: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.section-heading h2 + p {
    font-size: 16px;
    color: var(--body-text-color);
    font-weight: 300;
    text-align:center;
    margin: 48px auto 100px;    
    width: 550px;

}

@media only screen and (max-width: 767px) {
    .section-heading h2 + p {
        width: 80%;
    }
}
/**Ending Component */

/** Start Header */
.header {
    padding: 16px;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.header .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position:relative;
    min-height: 80px;
}

.header .container::after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 16px;
    height: 1px;
    width: calc(100% - 32px);
    background-color: #726F71;
    
}

.header .container  .logo  img {
    height:48px;
    object-fit: contain;
}

.header .container nav  {
    flex:1;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.header .container nav .toggle-menu {
    color:white;
    font-size: 20px;
    position:relative;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .header .container nav .toggle-menu {
        display: none;
    }
    
  
}
.header .container nav ul {
    display: flex;
}

@media only screen and (max-width: 767px) {
    .header .container nav ul {
        display: none;
    }

    .header nav .toggle-menu:hover + ul {
        display: flex;
        flex-flow: column nowrap;
        position: absolute;
        background-color: #1f202194;
        top:100%;
        left:0;
        width: 100%;
    }

    .header nav ul li a {
        padding: 16px !important;
    }
}

.header .container nav ul li a {
    display: block;
    color: white;
    font-size: 14px;
    padding: 32px 16px;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.header .container nav ul li a:hover  {
    color: #41C7FC;
}

.header .container nav ul li  a::before {
    content: '';
    height: 1px;
    background-color: #41C7FC;
    position: absolute;
    bottom: -16px;
    left: 8px;
    z-index: 1;
    transition: width 0.3 linear;
    -webkit-transition: width 0.3 linear;
    -moz-transition: width 0.3 linear;
    -ms-transition: width 0.3 linear;
    -o-transition: width 0.3 linear;
}

.header .container nav ul li:hover  a::before {
    width: calc( 100% - 16px);
}

.header .container .active {
    color: #41C7FC;
}
.header .container .active::before {
    content : '';
    width: calc( 100% - 16px);
    height: 1px;
    background-color: #41C7FC;
    position: absolute;
    bottom: -16px;
    left: 8px;
    z-index: 1;
}



.header .form {
    position: relative;
    width: 48px;
    height: 36px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid white;
}
.header .form i {
    color: white;
    font-size: 18px;
}
/**Header Ending */

/** Landing Start */
.landing {
    background-image: url(../imgs/landing.jpg);
    height: 100vh;
    width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);  
}

.landing .overlay .text {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 50%;
    left:0;
    width: 50%;
    background-color: #41c7fc70;
    padding: 48px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

@media only screen and (max-width: 767px) {
    .landing .overlay .text {
        width: 100%;
    }
}
.landing .overlay .text .content {
    color: white;
    flex-basis: 500px;
}
.landing .overlay .text .content h2 {
    font-weight: 300;
    margin-bottom: 24px;
    line-height: 1.8;
}

.landing .overlay .text .content p {
    line-height: 1.6;
    font-size: 16px;
    font-weight: 300;
}
.landing .overlay i {
    color: white;
    padding: 0px 8px;
}
.landing .overlay .left-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.landing .overlay .right-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.landing .overlay .bullets {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-bottom: 16px;
    display:flex;
    align-content: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.landing .overlay .bullets li {
    width: 12px;
    height: 12px;
    margin: 0 4px;
    border: 0.5px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.landing .active {
    background-color: var(--main-color);
}

/**Landing Ending */

.services {
    padding: var(--section-padding-top-lg) 0px;
}

@media only screen and (max-width: 767px) {
    .services {
        padding: var(--section-padding-top-sm) 0px;
    }
}



@media only screen and (min-width: 768px)
{
    .services .services-content {
        display:grid;
        grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
        column-gap: 48px;
        row-gap: 60px;
    }
}


.services .services-content .service-card {
    display: flex;
    flex-flow: row nowrap;
}

@media only screen  and (max-width: 767px) {
    .services .services-content .service-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 52px;
    }
    
    .services .services-content .service-card .service-text 
    {
        margin-left: 0;
        margin-top: 24px;
    }  
    .services .services-content .service-card .service-text i
    {
        font-size: 24px;
    }      
}
.services .service-card i {
    color: var(--header-text-color);
}

.services .service-card .service-text {
    margin-left: 56px;
}

.services .service-card .service-text h3 {
    font-weight: 300;
    color: var(--main-color);
}

.services .service-card .service-text p {
    font-size: 14px;
    font-weight: 300;
    color: var(--body-text-color);
    margin-top: 24px;
    line-height: 1.6;
}
